/* {
    border: 1px solid red;
} */

body {
    padding: 20px;
    color: #ffffff;
    font-family: Monaco, monospace;
}


img {
    margin: 20px auto;
    display: block;
    border: 1px solid #000000;
    border-radius: 5px;

}

a {
    text-decoration: none;
    color: #9f1112;
}

a:hover {
    color: #ffffff;
}

li {
    padding: 10px 0;
}

.headings {
    text-align: center;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.container-1 {
    width: 500px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #fd7463;
    border-radius: 30px;
    box-shadow: 3px 3px 5px grey;
}

.container-2 {
    background: #ffffff;
    padding: 5px 20px;
    width: fit-content;
    margin: 10px auto;
    border: 1px solid #808080;
    border-radius: 50px;
}
.container-2:hover {
    background-color: #4ebc20;
}